* {
    margin: 0;
    padding: 0;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
}
section{
    padding: 50px 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width:80%;
    margin: 0  auto;
    text-align: center;
    
}

.container::after {
    content:'';
    display: block;
    clear: both;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tebal {
    color: var(--main-color);
}

header {
    background-color: var(--text-color);
    position: sticky;
    top: 0;
}

header h1 {
    color: var(--main-color);
    float: left;
    padding: 15px;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: var(--bg-color);
    padding: 25px 20px;
    display: inline-block;
}

header li a:hover {
    color: var(--main-color);
}


.produk {
    background-color: var(--second-color);
}

.produk h1 {
    color: var(--main-color);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    height: 30vh;
    width: auto;
}

.box h3 {
    color: var(--main-color);
    font-size: 34px;
}

.box {
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
}

.dm-box {
    height: 42vh;
    width: 30vh;
    background-color: var(--bg-color);
    border: 1px solid;
    border-radius: 10px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition:.3s;
}

.dm-box:hover {
    border-color: var(--main-color);
    box-shadow:0 0 10px 0 var(--main-color);
}

.dm-box img {
    display: flex;
    align-items: center;
}

.dm-box a {
    color: black;
    padding: 5px 20px;
    border:2px solid #aaa;
    border-radius: 0.3rem;
    font-size: 15px;
    font-weight: 500;
    transition:.3s;
}

.dm-box a:hover {
    border-color: var(--main-color);
    box-shadow:0 0 8px 0  var(--main-color);
}






